html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo-container {
    box-shadow: 11px 0px 0px 5px #dbedcd;
    background-color: #e6ff95;
    border-radius: 0 0 10px 10px;
    border: 2px solid;
}
/*====Таблица контрактов====*/
.green-outline {
    outline: 2px solid green;
}

tr.bg-color-str-green td {
    background-color: #ceffce;
}

.pagination > li > a, .pagination > li > span {
    color: black;
}

.pagination > li.active > a, .pagination > li.active > span {
    color: white;
    background-color: green
}

/*====Анимация увеличения для кнопки====*/
.zoom-anim {
    transition: transform 0.2s ease;
}

    .zoom-anim:hover {
        transform: scale(1.2);
    }

/*====Дизайн полосы прокрутки====*/
.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ffffff00;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9E9E9E;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

/*====Область контракта====*/
.contract-area {
    border: 1px solid #d3d3d3;
    border-radius: 10px;

    padding: 20px;
}

.forms-inputs {
    position: relative
}

    .forms-inputs span {
        position: absolute;
        top: -18px;
        left: 10px;
        background-color: #fff;
        padding: 5px 10px;
        font-size: 15px
    }

    .forms-inputs .dataInput {
        min-height: 50px;
        border: 2px solid #eee;
        border-radius: 5px;
        padding: 10px;
    }

/*====Область отображения договора====*/
.bg-color-gray {
    background: rgb(204,204,204);
}

.sheet {
    width: 21cm;
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    border-radius: 10px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.warning-label {
    position: absolute;
    width: 330px;
    height: 150px;
    background-color: white;
    top: 87px;
    right: 45px;
    border-radius:10px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}